* {
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    background-color: #ffffff;
}

.barra-sup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-left: 1px solid #c9c9c961;
    border-top: 1px solid #c9c9c961;
    border-right: 1px solid #c9c9c961;
    width: 95.6%;
    margin-left: 2%;
}

.logo-sup {
    margin-top: 4%;
    margin-bottom: 3%;
    margin-right: 3%;
    width: 176px;
    padding-right: 50px;
}

.botao-entrar {
    color: #f11075;
    border: none;
    background-color: #ffffff;
    font-size: 1.03rem;
    font-weight: bold;
}

/* !final da barra superior
inicio do titulo-texto! */

 .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-image: url(https://dals0gb6i1pll.cloudfront.net/img/banner-mobile-buser.e1bda3c.png);
    background-repeat: no-repeat;
    background-size: 180.5%;
    background-position: bottom;
    margin: 0% 2%;
}

.caixa-titulo {
    display: flex;
    flex-direction: column;
}

.titulo {
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 5%;
    margin-right: 16%;
    margin-left: 6%;
    margin-bottom: 4%;
    font-size: 1.77rem;
}

.sub-titulo {
    color: #ffffff;
    margin-bottom:0%;
    margin-left: 6%;
    margin-top: 0%;
    font-size: 1.21rem;
    font-weight: 400
}

/* !final do titulo-texto
inicio da caixa de busca de viagens! */

.caixa-busca {
    background-color: #ffffff;
    height: 49%;
    width: 89%;
    margin-bottom: 32%;
    border-radius: 7px;
}




/* !final da caixa de busca de viagens
inicio do navbar! */

.origem-busca{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.form-busca{
    display: flex;
    height: 90%;
    margin: 0% 5%;
    flex-direction: column;
    justify-content: space-evenly;
}
.texto-saida{
    font-size:0.88rem ;
    font-weight: 600;
    color:#4c4a4a
}
.div-saida{
    border:1px solid #c1c1c1;
    height: 11%;
    border-radius: 7px;
}
#data-volta, #data-ida{
    height: 98%;
    width: 80%;
}
.formulario{
    background: none;
    border: 0 none;
    outline: 0;
    width: 83%;
    height: 106%;
    padding-bottom: 0px;
}
.botao-buscar{
    color:#ffffff;
    background-color: #f11075;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px;
}

.data-viagem{
    font-size:0.88rem ;
    font-weight: 600;
    color:#4c4a4a

}
/* !area de icones da caixa de busca abaixo! */
.circulo{
    width: 13px;
    margin-left: 3%;
}
.local{
    width:15px;
    margin-left: 3%;
    /* margin-top: 3.4%; */
}
.calendario-ida{
    width: 18px;
    margin-left: 3%;
}
.calendario-volta{
    width: 18px;
    margin-left:3%;
}
/* !fim area de icones acima! */


.navbar{
    background-color: #ffffff;
    height: 6%;
    width: 99.6%;
    border-bottom: 1px solid #c9c9c961;
    border-left: 1px solid #c9c9c961;
    border-right: 1px solid #c9c9c961;
}

